force-app/main/default/flows/Enable_Assessment_Level.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>User_Assigned_to_Permission_Set</name>
        <label>User Assigned to Permission Set?</label>
        <locationX>421</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Permission_Set</targetReference>
            </connector>
            <label>Not Assigned</label>
        </rules>
    </decisions>
    <formulas>
        <name>PermissionSetId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Assessment_Permission_Set_Id}</expression>
    </formulas>
    <interviewLabel>Enable Assessment Level {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enable Assessment Level</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Permission_Set</name>
        <label>Add Permission Set</label>
        <locationX>700</locationX>
        <locationY>49</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>PermissionSetId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordLookups>
        <name>Permission_Set_Assignment_Lookup</name>
        <label>Permission Set Assignment Lookup</label>
        <locationX>227</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Assigned_to_Permission_Set</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>FoundUserId</assignToReference>
            <field>AssigneeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundPermissionSetId</assignToReference>
            <field>PermissionSetId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Permission_Set_Assignment_Lookup</startElementReference>
    <status>Draft</status>
    <variables>
        <name>FoundPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FoundUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
