force-app/main/default/flows/Select_Topic_On_Login.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Perm_Set_Assigned</name>
        <label>Perm Set Assigned</label>
        <locationX>666</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Inform_user_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Perm Set ID is not null</defaultConnectorLabel>
        <rules>
            <name>Perm_Set_Assignment_ID_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Perm_Set_Assignments.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_User_2</targetReference>
            </connector>
            <label>Perm Set Assignment ID is null</label>
        </rules>
    </decisions>
    <interviewLabel>Select Topic On Login {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Topic On Login</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Perm_Set_Assignments</name>
        <label>Get Perm Set Assignments</label>
        <locationX>445</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Perm_Set_Assigned</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>250</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Perm_Set_Assignments</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Inform_user_1</name>
        <label>Inform user 1</label>
        <locationX>967</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Perm_Set_Assigned</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Perm Set Assigned</stringValue>
            </defaultValue>
            <fieldText>Display Perm Set Assigned</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inform_User_2</name>
        <label>Inform User 2</label>
        <locationX>677</locationX>
        <locationY>327</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Perm_Set_Is_Not_Assigned</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Perm Set is not assigned</stringValue>
            </defaultValue>
            <fieldText>Display Perm Set Is Not Assigned</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
